@import '../../styles/variables.scss';

.header {
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo,
.change_theme {
    margin-right: 20px;
}

.logo {
    width: 65px;
    height: 65px;
}

.title {
    color: $primary-color;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
}

.change_theme {
    width: 35px;
    height: 35px;
    cursor: pointer;
}